@b toast {
  position: fixed;
  max-width: 80%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  z-index: 1001;

  @w top {
    left: 50%;
    top: 50px;
    transform: translate(-50%, 0);
  }

  @w middle {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @w bottom {
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
  }

  @e icon {
    display: block;
    font-size: 56px;
    padding: 6px 0 10px;
  }

  @e text {
    display: block;
    font-size: 14px;
    line-height: 1.75;
  }

  @e mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  @e enter-active, leave-active {
    transition: opacity .3s;
  }

  @e enter, leave-to, leave-active {
    opacity: 0;
  }
}


@media (-webkit-min-device-pixel-ratio: 2) {
  @b toast {
    @e text {
      font-size: 28px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3) {
  @b toast {
    @e text {
      font-size: 42px;
    }
  }
}
